<div class="jumbotron">
  <div class="container">
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  </div>
</div>

<ul class="list-unstyled boxes">
  <% @questions.each do |q| %>
  <li class="media">
    <img class="mr-3" src="<%= q.gravatar %>"
         alt="Generic placeholder image" height="128" width="128px">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= q.email %></h5>
      <div class="time"><%= time_ago_in_words q.created_at %> ago</div>
      <%= q.body %>
    </div>
    <div>
      <a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a>
    </div>
  </li>
  <% end %>

  <% if @questions.empty? %>
    <div class="alert alert-primary" role="alert">
      No Questions Found Create One !
    </div>
  <% end %>
</ul>